html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2em;
}

body {
	padding: 1em;
	margin: 0em auto;
	min-width: 50ex;
	max-width: 60ex;
}

section {
	margin: 1em 0 2em 0;
}

img {
	width: 100%;
}

h1, h2, h3, h4, h5 {
	margin: 2ex 0 1ex 0;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: larger;
}

h3 {
	font-size: large;
}

article {
	margin: 1em 0;
	padding: 0 1em;
	border-left: 5px solid lightgrey;
}

.footnote {
	font-size: 60%;
}

table {
	width: 100%;
}

footer, 
table:nth-child(2),
.hline {
	border-top: 1px solid grey;
}

footer {
	padding: 1ex 0 1ex 0;
}

td {
	border-bottom: 1px solid grey;
	margin: 10ex;
}

a {
	color: hsl(0, 0%, 20%);
	text-decoration-line: none;
}

a:hover {
	color: hsl(0, 0%, 60%);
}
